<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Plate Detection</title>
</head>

<body>
    <h1>Live Number Plate Detection</h1>
    <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Live Video Feed">
    <div id="plate_info">
        <p id="detected_plate_info"></p>
        <p id="vehicle_number_info"></p>
    </div>

    <script>
        // Function to update the plate info
        function updatePlateInfo() {
            fetch('/plate_info')
                .then(response => response.json())
                .then(data => {
                    // Update detected plate info
                    document.getElementById("detected_plate_info").innerText = "Detected Plate: " + data.detected_plate;

                    // Update vehicle number info
                    document.getElementById("vehicle_number_info").innerText = "Vehicle Number: " + data.vehicle_number;
                });
        }

        // Call updatePlateInfo function every 5 seconds
        setInterval(updatePlateInfo, 15000);
    </script>
</body>

</html>